
/*jumbotron classes begins*/
.map-theme {
    background-image: url(../img/city-map-dark-5.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*height: 400px;*/
}
/*transparent frame*/
.tp-frame {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 950px;
    background: rgba(7, 31, 39, 0.7);
}

.trans-background {
    background: rgba(7, 31, 39, 0.7);
}

/*jumbotron classes ends*/

.glyphicon.dummy {
    display: inline-block;
    width: 15px;
}

.row-no-padding {
     margin-left: 0;
     margin-right: 0;
 }

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-small-padding {
    margin-left: 0;
    margin-right: 0;
}

.row-small-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 3px !important;
    padding-bottom: 3px !important;
}

/*box classes begin*/
.box {
    position: relative;
    width:    100%; /* desired width */
}

.box:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.ratio-2.box:before {
    padding-top: 50%;
}

.box-inner {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    padding: 6%;
}

.v-wrap {
    height: 100%;
    white-space: nowrap;
    text-align: center;
}

.v-wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%;
}

.v-box {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    box-sizing: border-box;
}

.v-content {
    white-space: pre-wrap;
}

.t-ref {
    color: #7FCEE7;
}

.t-ref:hover {
    color: #118B90;
    text-decoration: none;
}

/*#3393B3*/
.m-address {
    background-image: url(../img/city-map-light-5-sm.png);
    color: black;
    font-size: 26px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.m-price {
    background-color: #ff2c5e;
    color: white;
    font-size: 24px;
}

.m-type {
    font-size: large;
}

.m-floor {
    background-color: #7FCEE7;
    color: #071f27;
    font-size: large;
}

.m-area {
    background-color: #7FCEE7;
    color: #071f27;
    font-size: large;
}

.m-extra {
}

.m-description {
    background-color: #071f27;
    color: white;
}

.m-more {
    background-color: #071f27;
    color: white;
}

.m-more a {
    color: #7FCEE7;
    font-size: large;
    /*text-decoration: none;*/
}

.m-more a:hover {
    color: #118B90;
    font-size: large;
    text-decoration: none;
}

