
/*jumbotron classes begins*/
.map-theme {
    background-attachment: fixed;
    background-image: url(../img/city-map-dark-5.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*height: 400px;*/
}
/*transparent frame*/
.tp-frame {
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(7, 31, 39, 0.7);
}

@media (max-width: 450px) {
    .about h1 {
        font-size: 26px;
    }
    .strike > h2 {
        font-size: 26px;
    }
    .about p {
        font-size: 18px;
    }
    .contact {
        font-size: 16px;
    }
    .m-address h3 {
        font-size: 24px;
    }
    .m-description, .m-area, .m-extra {
        font-size: 13.5px;
    }
    .m-type, .m-floor, .m-price, .m-more  {
        font-size: 16px;
    }
}
/*xs*/
@media (min-width: 450px) {
    .about p {
        font-size: 20px;
    }
    .strike > h2 {
        font-size: 42px;
    }
    .m-address h3 {
        font-size: 34px;
    }
    .m-description, .m-area, .m-extra {
        font-size: 16px;
    }
    .m-type, .m-floor, .m-price, .m-more  {
        font-size: 22px;
    }
}
/*sm*/
@media (min-width: 768px) {
    .strike > h2 {
        font-size: 34px;
    }
    .about p {
        font-size: 24px;
    }
    .m-address h3 {
        font-size: 24px;
    }
    .m-description, .m-area, .m-extra {
        font-size: 14px;
    }
    .m-type, .m-floor, .m-price, .m-more  {
        font-size: 14px;
    }
}

/*md*/
@media (min-width: 992px) {
    .about h1 {
        font-size: 67px;
    }
    .strike > h2 {
        font-size: 42px;
    }
    .m-address h3 {
        font-size: 32px;
    }
    .m-description, .m-area, .m-extra {
        font-size: 15px;
    }
    .m-type, .m-floor, .m-price, .m-more  {
        font-size: 19px;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .m-description, .m-area, .m-extra {
        font-size: 16px;
    }
    .m-type, .m-floor, .m-price, .m-more  {
        font-size: 22px;
    }

}

.contact strong {
    font-weight: 500;
}

.contact {
    font-weight: 300;
}

.new-lines {
    white-space: pre-wrap;
}

.tp-background {
    background: rgba(7, 31, 39, 0.7);
}

.sd-frame {
    box-shadow: 2px 2px 6px #bcbcbc
}

/*jumbotron classes ends*/

.glyphicon.dummy {
    display: inline-block;
    width: 15px;
}



.row-no-padding {
     margin-left: 0;
     margin-right: 0;
 }

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-small-padding {
    margin-left: 0;
    margin-right: 0;
}

.row-small-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 3px !important;
    padding-bottom: 3px !important;
}

/*box classes begin*/
.box {
    position: relative;
    width:    100%; /* desired width */
}

.box:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.ratio-2.box:before {
    padding-top: 50%;
}

.box-inner {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    padding: 6%;
}

/*vertical wrap*/
.v-wrap {
    height: 100%;
    white-space: nowrap;
    text-align: center;
}

.v-wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%;
}

.v-box {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    box-sizing: border-box;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 28px;
}

.step {
    margin-bottom: 30px;
}

.strike > h2 {
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.strike > h2:before,
.strike > h2:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 200px;
    height: 1px;
    background: black;
}

.strike > h2:before {
    right: 100%;
    margin-right: 15px;
}

.strike > h2:after {
    left: 100%;
    margin-left: 15px;
}

.t-ref {
    color: #4BBFE4;
}

.t-ref:hover {
    color: #ff2c5e;
    text-decoration: none;
}

/*#3393B3*/
.m-address {
    background-image: url(../img/city-map-light-5-sm.png);
    color: black;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.m-address h3 {
    font-weight: 500;
}

.m-price {
    background-color: #ff2c5e;
    color: white;
}

.m-type {
    background-color: #4BBFE4;
    color: white;
}

.m-floor {
    background-color: #4BBFE4;
    color: white;
}

.m-area {
}

.m-extra {
}

.m-description {
    background-color: #071f27;
    color: white;
}

.m-more {
    background-color: #071f27;
    color: white;
}

.m-more a {
    color: #4BBFE4;
    text-decoration: none;
}

.m-more a:hover {
    /*color: #118B90;*/
    color: #ff2c5e;
    text-decoration: none;
}

