<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="EstateAgency" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="EstateAgency" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="EstateAgency" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="EstateAgency" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/theme.cold.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap-grid-h.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <div class="jumbotron map-theme">
    <div class="container">
        <ask-business-card></ask-business-card>
    </div>
  </div>
  <div class="container" ask-resize="300" ng-controller="MainController">
    <!--<div ng-view></div>-->
    <div class="panel panel-default sd-frame" >
      <div class="panel-body">
        <div class="row row-small-padding">
          <div class="col-sm-4 col-xs-12">
            <ask-box class="m-address" ng-model="offer.address"></ask-box>
          </div>
          <div class="col-sm-8 col-xs-12">
            <div class="row row-small-padding">
              <div class="col-sm-3 col-xs-6" >
                <ask-box class="m-type" ng-model="offer.type"></ask-box>
              </div>
              <div class="col-sm-3 col-xs-6" id="test">
                <ask-box class="m-price" ng-model="offer.price"></ask-box>
              </div>
              <div class="col-sm-3 col-xs-6">
                <ask-box class="m-floor" ng-model="offer.floor"></ask-box>
              </div>
              <div class="col-sm-3 col-xs-6">
                <ask-box class="m-area" ng-model="offer.area"></ask-box>
              </div>
              <div class="col-sm-6 col-xs-12">
                <ask-box class="m-description ratio-2" ng-model="offer.description"></ask-box>
              </div>
              <div class="col-sm-3 col-xs-6" >
                <ask-box class="m-extra" ng-model="offer.extra"></ask-box>
              </div>
              <div class="col-sm-3 col-xs-6" >
                  <div class="box m-more">
                    <div class="box-inner">
                      <div class="v-wrap">
                        <div class="v-box" ask-ellipsis="offer.more in .v-wrap">
                          <!--<div class="v-content" ask-ellipsis="offer.more in .v-wrap"></div>-->
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--panel end-->

    <textarea type="text" ng-model="offer.more" style="width: 450px; height: 250px;"></textarea>

  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/ng-debounce/angular-debounce.js"></script>

  <script src="components/jquery.dotdotdot.min.js"></script>

  <script src="app.js"></script>

  <!--directives-->
  <script src="js/directives/askBusinessCard.js"></script>
  <script src="js/directives/askBox.js"></script>
  <script src="js/directives/askResize.js"></script>
  <script src="js/directives/askEllipsis.js"></script>
  <!--script src="view1/view1.js"></script-->
  <!--script src="view2/view2.js"></script-->

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>



  <script>
    app.controller('MainController', ['$scope', function($scope) {
        $scope.offer = {
            address: 'Даламаново 36,\n подьезд 414',
            price: '617000&nbsp₽',
            type: '1 комнатная квартира\n(продажа)',
            area: 'Общая: 59 м²,\n Кухня: 11 м²,\n Жилая: 31 м²',
            floor: '4 этаж,\n панельный дом',
            extra: "Лифт: 2П\nБалкон: 1\nСанузел: 1Р\nОкна: двор\nТелефон: нет\nСвободная\nВторичка",
            description: "Продается 1/12 доля в двухкомнатной квартире, для постоянной регистрации (прописки) и возможного проживания. Можно для семьи с ребенком 2/12 доли. Очень хорошая перспектива выкупа других долей или расселения с получением отдельного жилья в этом же районе. Дом в плане под снос до 2018года.Документы готовы к сделке",
            more: '<a href="#">Подробнее</a>'
        };
    }]);
  </script>

</body>
</html>
